@model SelectOrganisationViewModel

@{
    ViewData["Title"] = Model.Prompt.Heading;
}

<div>
    <h1>@Model.Prompt.Heading</h1>
    @if (!String.IsNullOrEmpty(Model.Prompt.Hint))
    {
        <p>@Model.Prompt.Hint</p>
    }
    <form>
        @{
            int index = 0;
        }
        @foreach (var option in Model.OrganisationOptions)
        {
            <input id="option-@index" name="selectedOrganisation" type="radio" value="@option.Id" />
            <label for="option-@index">@option.Name</label>
            ++index;
        }
        <button type="submit">Save and continue</button>
    </form>
</div>
