@inject IOptions<PlatformOptions> platformOptionsAccessor

@{
    ViewData[DsiLayoutConstants.ServiceNavigationItems] = Array.Empty<NavigationItemViewModel>();
    ViewData[DsiLayoutConstants.Title] = "Page not found";
}

<h1 class="govuk-heading-xl govuk-!-margin-top-3">Page not found</h1>

<p class="govuk-body">If you typed the web address, check it is correct.</p>

<p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

<p class="govuk-body">
    If the web address is correct or you selected a link or button, you can
    <a class="govuk-link" href="@(platformOptionsAccessor.Value.HelpUrl)/contact-us">contact the helpdesk</a>
    to report the issue.
</p>
