@model Dfe.SignIn.WebFramework.Mvc.Models.ErrorViewModel

@{
    ViewData[DsiLayoutConstants.ServiceNavigationItems] = Array.Empty<NavigationItemViewModel>();
    ViewData[DsiLayoutConstants.Title] = "There has been an error";
    Uri contactUsUrl = new Uri(platformOptionsAccessor.Value.HelpUrl, Model.ShowRequestId ? $"contact-us?exceptionTraceId={Model.RequestId}" : "contact-us");
}

<h1 class="govuk-heading-xl govuk-!-margin-top-3">There has been an error</h1>

<p class="govuk-body">
    If the problem continues, follow the link to <a class="govuk-link govuk-link-bold" href="@contactUsUrl">submit a support request</a>.
</p>

@if (Model.ShowRequestId)
{
    <p class="govuk-body">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
