{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

<h1 class="govuk-heading-l">{{{title}}}</h1>

{{#summary}}
    <div class="govuk-body-l">{{{summary}}}</div>
{{/summary}}

{{{conceptual}}}

{{^_disableContribution}}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-4" />
{{/_disableContribution}}
