{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

{{#isNamespace}}
  {{>partials/namespace}}
{{/isNamespace}}

{{#isClass}}
  {{>partials/class.memberpage}}
{{/isClass}}

{{#isEnum}}
  {{>partials/enum}}
{{/isEnum}}

{{#isCollection}}
  {{>partials/collection}}
{{/isCollection}}

{{#isItem}}
  {{>partials/item}}
{{/isItem}}
