.app-hero {
  overflow: hidden;
  background-color: #d2e2f1;
  padding-bottom: govuk-spacing(6);
  & .govuk-heading-m {
    margin-bottom: govuk-spacing(2);
  }

  a:active {
    color: $govuk-text-colour !important;
  }
}
