.app-related-actions {
  border-top: 1px solid $govuk-brand-colour;
  border-bottom: 1px solid $govuk-brand-colour;
  padding-top: 15px;
  margin-top: govuk-spacing(6);
}

.app-related-actions__heading {
  margin-top: 0;
  margin-bottom: 15px;
}