.app-subnav {
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 0 15px 0 0;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  overflow: hidden;
}

@media (min-width: 40.0625em) {
  .app-subnav {
    margin-bottom: 100px;
  }
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__section-item {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-subnav__section-item--current .app-subnav__link {
  font-weight: bold;
}

.app-subnav__theme {
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  font-weight: 400;
  margin: 0;
  padding: 10px 15px 10px 0;
  color: #505a5f;
}
