@model TopicViewModel

@{
    ViewData[DsiLayoutConstants.ServiceName] = "DfE Sign-in Help";
    ViewData[DsiLayoutConstants.Title] = Model.Title;
    ViewData[DsiLayoutConstants.MetaDescription] = Model.Summary;
    ViewData[DsiLayoutConstants.ServiceNavigationItems] = Model.ServiceNavigationItems;
    ViewData[DsiLayoutConstants.Crumbs] = Model.Crumbs;
}

@if (Model.CardSections.Any())
{
    ViewData[DsiLayoutConstants.Hero] = new HeroViewModel
    {
        Heading = Model.Title,
        Text = Model.Summary,
    };
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.Caption))
    {
        <span class="govuk-caption-xl">@Model.Caption</span>
    }
    <h1 class="govuk-heading-l">@Model.Title</h1>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.Raw(@Model.ContentHtml)
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @await Html.PartialAsync("Components/_CardSections", Model.CardSections)
    </div>
</div>

@if (Model.AllowDeveloperReloadAction)
{
    @await Html.PartialAsync("Partials/_DeveloperReloadButton")
}
