@model IEnumerable<CardSectionViewModel>

@foreach (var cardSection in Model)
{
    if (cardSection.Cards.Any())
    {
        <nav>
            <h2 class="govuk-heading-m">@cardSection.Heading</h2>
            <ul class="app-cards">
                @foreach (var card in cardSection.Cards)
                {
                    <li class="app-card">
                        <h2 class="app-card__heading">
                            <a class="govuk-link-bold" href="@card.Href">@card.Title</a>
                        </h2>
                        <p class="app-card__summary">
                            @card.Summary
                        </p>
                    </li>
                }
            </ul>
        </nav>
    }
}
