@model TopicViewModel

@inject IOptions<PlatformOptions> platformOptionsAccessor

@{
    ViewData[DsiLayoutConstants.Title] = "Contact us";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <govuk-panel>
            <govuk-panel-title>Form submission successful</govuk-panel-title>
            <govuk-panel-body>
                Your request for assistance has been received. We will send you a response within 5 working days. No
                further action is required at this time.
            </govuk-panel-body>
        </govuk-panel>
    </div>

    <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
            <govuk-button-link href=@(platformOptionsAccessor.Value.HelpUrl)>Return to help</govuk-button-link>
        </div>
    </div>
</div>
