@{
    ViewData["Title"] = "Created Test Session - Developer View";
}

<div>
    <h1 class="govuk-heading-l">Developer View - Created Test Session</h1>

    <p class="govuk-body">A test "select organisation" session has been created with the session name <code>test</code>.
    </p>

    <govuk-button-link href="/test-client/test">View test session</govuk-button-link>
</div>
