@{
    ViewData["Title"] = "Developer View - Created Test Session";
}

<div>
    <h1>Developer View - Created Test Session</h1>
    <p>Session Name: <code>test</code></p>
    <p><a href="/test-client/test">Click here to view test session</a>.</p>
</div>
