//-----------------------------------------------------------------------------
// Third-party libraries
//-----------------------------------------------------------------------------


//-----------------------------------------------------------------------------
// GOV.UK design system
//-----------------------------------------------------------------------------

$govuk-assets-path: "../assets/";

@import "../node_modules/govuk-frontend/dist/govuk/all";


//-----------------------------------------------------------------------------
// Base
//-----------------------------------------------------------------------------

@import "./base/blockquote";


//-----------------------------------------------------------------------------
// Components
//-----------------------------------------------------------------------------

@import "./components/article-content";
@import "./components/auth-action";
@import "./components/environment-banner";
@import "./components/header";
@import "./components/hero";
@import "./components/site-search";
@import "./components/subnav";
@import "./components/topic-cards";
@import "./components/width-container";
