@model SelectOrganisationViewModel

@{
    ViewData["Title"] = Model.Prompt.Heading;
    ViewData["SignOutUrl"] = Model.SignOutUrl;
}

<form method="post" asp-antiforgery=true>
    <govuk-radios asp-for=SelectedOrganisationId>
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.Prompt.Heading
            </govuk-radios-fieldset-legend>

            @if (!String.IsNullOrEmpty(Model.Prompt.Hint))
            {
                <govuk-radios-hint>
                    @Model.Prompt.Hint
                </govuk-radios-hint>
            }

            @foreach (var option in Model.OrganisationOptions)
            {
                <govuk-radios-item value="@option.Id">@option.Name</govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    <div class="govuk-button-group">
        <govuk-button type="submit">Save and continue</govuk-button>

        @if (Model.AllowCancel)
        {
            <govuk-button type="submit" class="govuk-button--secondary" name="cancel" value="1">Cancel</govuk-button>
        }
    </div>
</form>
